* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh; /* use 100% of the height of the viewport */
  display: grid;
  place-items: center;
  background-color: #e0e0e0;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}

.case {
  width: 25rem;
  height: 40rem;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 15px;
}
.front-cover {
  padding-bottom: 50px;
}

.name-song {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  align-items: center;
}

.name-song p {
  padding-top: 5px;
}

.progression {
  width: 250px;
  height: 6px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

progress {
  width: 20%;
  height: 6px;
  background-color: #000;
}

.score {
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 100%;
}

.time {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.case-buttons {
  display: flex;
}

#next,
#back,
#play,
#pause {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  cursor: pointer;
}

#pause {
  display: none;
}
